body {
  font: bold 14px/1.4 "Open Sans", arial, sans-serif;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  color: #000;

  display: inline-block;
  margin: auto;
  padding: 15px 20px;
  position: relative;
}

a:after {
  content: "";
  position: absolute;
  background: #000;
  height: 3px;
  width: 100px;
  left: 100%;
  border-radius: 10em;
  transition: 0.2s ease-in-out;
  display: block;
}

a:hover:after {
  width: 200px;
  left: 0%;
}

.line {
  position: relative;
  cursor: pointer;
}

.line:after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 3px;
  width: 100px;
  left: 50%;
  border-radius: 10em;
}

.line:after:hover {
  width: 200px;
  left: 25%;
}
